.title-info {
  display: flex;
  justify-content: center;
}

.state-image {
  border: 0.2em black solid;
  height: 8.5em;
  width: 12em;
  margin-right: 2em;
}

.state-name {
  font-family: 'Heebo', sans-serif;
  font-size: 3em;
}