.cards {
  background-color:	lightblue;
  padding: 1em;
  margin: 3em 3em 0.5em 3em;
  height: 22em;
  width: 20em;
}

.card-title {
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0.2em
}

.usa-total-deaths-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.source {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  flex-wrap: wrap;
  font-size: 0.4em;
  margin: 0em;
}


.people-icon {
  margin: 0em;
}
