.main {
  display: flex;
  flex-direction: column;
  font-family: 'Heebo', sans-serif;
  margin: 10px;
  align-items: center;
}

#page-title {
  // display: flex;
  // justify-content: center;
}

.comparison-text {

}