.main {
  display: flex;
  flex-wrap: wrap;
  margin: -1em 1em 1em 1em;
  padding: 0em 4em 2.5em 4em;
  justify-content: center;
  font-family: 'Heebo', sans-serif;
  align-items: center;
}

.key {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}
