.main {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  padding: 40px 80px;
  justify-content: center;
  font-family: 'Heebo', sans-serif;
  margin: 10px;
  align-items: center;
}

svg {
  height: 1.2em;
  margin: -3em;
}

.usa-total-deaths-body {
  margin: -3em 0em;
}