.comparison-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgrey;
}

.comparison-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  margin: 1em 0em 0em 0em;
}

#app-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25em 0 1em 0;
  text-align: justify;
}

#app-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  text-align: justify;
}

.paragraph2 {
  margin: -1em 0em 1em 0em
}

#dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dropdown {
  display: flex;
  align-items: center;
  width: 25em;
  height: 2.25em;
  margin-bottom: 1em;
  font-size: medium;
  // margin-left: 33%;
  // margin-top: 2em;
  outline: none;
}

.dropdown-value {
  font-family: 'Heebo', sans-serif;
  font-size: 2em;
}

.top-dropdown {
  display: none;
}

#comparison-button {
  padding: .5em;
  background-color: #0C479D;
  border: solid 2px #0C479D;
  color: white;
  border-radius: 5px;
  margin-bottom: 2.6em;

}

#comparison-button:hover {
  cursor: pointer;
  background-color: white;
  color: #0C479D;
  border: solid 2px #0C479D;
}

.bottom-dropdown {
  
}