@mixin flexbox-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

$background-color: darkgrey;
$comparison-button: #0C479D;
$comparison-button-text: white;

.details-view-comparison-container {
  @include flexbox-center;
  background-color: $background-color;
}

.app-view-comparison-container {
  @include flexbox-center;
  background-color: $background-color;
}

.comparison-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  margin: 1em 0em 0.75em 0em;
}

#app-view-description {
  @include flexbox-center;
  margin: 1.25em 0 1em 0;
  text-align: justify;
}

#app-view-description-container {
  @include flexbox-center;
  width: 25em;
  text-align: justify;
}

#details-view-description-container {
  display: none;
}

.paragraph2 {
  margin: -1em 0em 1em 0em;
}

#dropdown-container {
  @include flexbox-center;
}

#dropdown {
  display: flex;
  align-items: center;
  width: 25em;
  height: 2.25em;
  margin-bottom: 1em;
  font-size: medium;
  outline: none;
}

.dropdown-value {
  font-family: 'Heebo', sans-serif;
  font-size: 2em;
}

#comparison-button {
  padding: .5em;
  background-color: $comparison-button;
  border: solid 2px $comparison-button;
  color: $comparison-button-text;
  border-radius: 5px;
  margin-bottom: 2.6em;
}

#comparison-button:hover {
  cursor: pointer;
  background-color: $comparison-button-text;
  color: $comparison-button;
  border: solid 2px $comparison-button;
}

// styles for iphone 
@media only screen and (max-width: 736px) {
  #dropdown {
   width: 20em;
  }

  #app-view-description-container {
    width: 22em;
  }

  .comparison-title {
    font-size: 2em;
  }
}