a {
  text-decoration: none;
}

body {
  background-color: #F2F2F2;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 7em;
  margin: 0;
  color: black;
}

.tagline {
  font-family: 'Heebo', sans-serif;
  margin: 0em 0em 1em 0em;
  color: black;
}

.usa-overview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
  margin-top: 0.5em;
  padding: 0.5em 0em 0.5em 0em;
  background-color: lightgrey;
}

.overview-title {
  font-size: 1.5em;
}

.overview-stats {
  font-size: 0.9em;
  margin-top: 0.2em;
}

.overview-numbers {
  font-size: 1.1em;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 4em 1em 4em 1em;
  font-family: 'Heebo', sans-serif;
}
